.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 100px;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 60px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.nav-conncet {
    padding: 20px 40px;
    border: 2px solid black;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    transition: 0.5s;
}

.nav-conncet:hover {
    /* background: linear-gradient(90deg, #92FE9D 0%, #00C9FF 100%); */
    transform: scale(1.05);
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.nav-menu li img {
    display: flex;
    margin: auto;

}

.anchor-link {
    text-decoration: none;
    color: rgb(255, 252, 252);
}

.nav-mob-close {
    display: none;
}

.nav-mob-open {
    display: none;

}
/*  */
@media(max-width:1080px) {
    .navbar {
        margin: 10px 50px;
    }
    .nav-menu {
        gap: 50px;
        font-size: 17px;
    }
    .nav-conncet {
        padding: 18px 35px;
        font-size: 17px;
    }
}

@media(max-width:1024px) {
    .navbar {
        margin: 10px 40px;
    }
    .nav-menu {
        gap: 45px;
        font-size: 16px;
    }
    .nav-conncet {
        padding: 16px 32px;
        font-size: 16px;
    }
}

@media(max-width:912px) {
    .navbar {
        margin: 10px 30px;
    }
    .nav-menu {
        gap: 40px;
    }
    .nav-conncet {
        padding: 15px 30px;
    }
}

@media(max-width:820px) {
    .navbar {
        margin: 15px 10px;
    }
    .nav-menu {
        gap: 35px;
        font-size: 15px;
    }
    .nav-conncet {
        padding: 14px 28px;
        font-size: 15px;
    }
}
@media(max-width:768px) {
    .navbar {
        margin: 20px 50px;
    }

    .nav-conncet {
        display: none;
    }

    .nav-mob-open {
        display: block;
        position: fixed;
        right: 30px;
    }

    .nav-mob-close {
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1F0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }

    .nav-menu li {
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
}

@media(max-width:576px) {
    .navbar {
        margin: 15px 30px;
    }

    .nav-menu {
        width: 300px;
        right: -300px;
    }

    .nav-menu li {
        padding-left: 80px;
        font-size: 26px;
    }

    .nav-mob-close {
        left: 250px;
    }

    .nav-mob-open {
        right: 20px;
    }
}

@media(max-width:480px) {
    .navbar {
        margin: 10px 20px;
    }

    .nav-menu {
        width: 280px;
        right: -280px;
    }

    .nav-menu li {
        padding-left: 60px;
        font-size: 24px;
        gap: 15px;
    }

    .nav-mob-close {
        left: 230px;
        top: 25px;
        width: 25px;
    }

    .nav-mob-open {
        right: 15px;
    }

}